{% extends "::base.html.twig" %}

{% block title %}AdminBundle:Roles:add{% endblock %}


{% block body %}
    
    
            <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="index.html">{{'Home' | trans }}</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="{{ path("ab_roles_list") }}">{{'Role' | trans }}</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>{{'Add' | trans }}</span>
                </li>
            </ul>
        </div>    
    
        
 <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"></h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        {{ form_start(form, {'method': 'POST'}) }}
            <div class="box-body">
                <div class="form-group">
                    <label for="roles_description_id">{{ form_label(form.description) }}</label>
                    {{ form_widget(form.description, {'attr': {'id' : 'roles_description_id','class': 'form-control','placeholder': 'Institution Name'}}) }}
                </div>
                <div class="form-group">
                    <label for="roles_enabled_id">{{ form_label(form.enabled) }}</label>
                    {{ form_widget(form.enabled, {'id' : 'roles_enabled_id', 'attr': {'class': 'form-control','placeholder': 'Institution Country'}}) }}
                </div>
                

            <div class="box-footer pull-right">
                <input class="btn btn-success" type="submit" value="{{'Save' | trans }}"/>
            </div>
            
           </div><!-- /.box -->
        
        {{ form_end(form) }}

{% endblock %}
