{% extends "::base.html.twig" %}

{% block title %}AdminBundle:Users:add{% endblock %}

{% block pageTitle %}
    <li>
        <a href="{{ path("db_dashboard_list") }}">Dashboard</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{ path("ab_users_list") }}">Users</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="ab_users_add"><b>Add</b></a>
    </li>
{% endblock %}

{% block body %}
    <div class="box box-primary">
        <div class="box-header">
        </div><!-- /.box-header -->
        <!-- form start -->
        {{ form_start(form, {'method': 'POST'}) }}
        <div class="box-body row">
            <div class="form-group col-md-6">
                <label for="users_lastname_id">{{ form_label(form.lastname) }}</label>
                {{ form_widget(form.lastname, {'attr': {'tabindex' : '1','id' : 'users_lastname_id','class': 'form-control','placeholder': 'User Last name'}}) }}
            </div>
            <div class="form-group col-md-6">
                <label for="users_userId_id">{{ form_label(form.username) }}</label>
                {{ form_widget(form.username, {'attr': {'tabindex' : '4','id' : 'users_userid_id','class': 'form-control','placeholder': 'User Id'}}) }}
            </div> 
            <div class="form-group col-md-6">
                <label for="users_firstname_id">{{ form_label(form.firstname) }}</label>
                {{ form_widget(form.firstname, {'attr': {'tabindex' : '2','id' : 'users_firstname_id','class': 'form-control','placeholder': 'User First name'}}) }}
            </div>  
            <div class="form-group col-md-6">
                <label for="users_password_id">{{ form_label(form.password) }}</label>
                {{ form_widget(form.password, {'attr': {'tabindex' : '5','id' : 'users_password_id','class': 'form-control','placeholder': 'User Password'}}) }}
            </div>
            <div class="form-group col-md-6">
                <label for="users_mail_id">{{ form_label(form.mail) }}</label>
                {{ form_widget(form.mail, {'attr': {'tabindex' : '3','id' : 'users_mail_id','class': 'form-control','placeholder': 'User Mail'}}) }}
            </div>
            <div class="form-group col-md-6 col-md-offset-6">
                <label for="users_role_id">{{ form_label(form.roleUser) }}</label>                
                {{ form_widget(form.roleUser, {'attr': {'tabindex' : '6','id' : 'users_enabled_id','class': 'form-control','placeholder': 'User Enabled'}}) }}
            </div>
            <div class="form-group col-md-6 col-md-offset-6">
                <label for="users_enabled_id">{{ form_label(form.enabled) }}</label>                
                {{ form_widget(form.enabled, {'attr': {'tabindex' : '6','id' : 'users_enabled_id','class': 'form-control','placeholder': 'User Enabled'}}) }}
            </div>
        
        </div>
        

        <div class="box-footer pull-right">
            <a href="{{ path ("ab_users_list")}}"> <input class="btn btn-success" type="submit" value="Save"/> </a>
        </div>

    {{ form_end(form) }}
{% endblock %}
