{% extends "::base.html.twig" %}

{% block title %}DashboardBundle:Dashboard:add{% endblock %}

{% block pageTitle %}
    <li>
        <a href="{{ path("db_dashboard_list") }}">{{'dashboards' | trans }}</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <b>{{'add' | trans }}</b>
    </li>
{% endblock %}

{% block body %}
    <div class="box box-primary">
        <div class="box-header"> </div><!-- /.box-header -->
        <!-- form start -->
        {{ form_start(form, {'method': 'POST'}) }}
        <div class="box-body row">
            <div class="form-group">
                <label for="dashboard_name_id">{{'name' | trans }}</label>
                {{ form_widget(form.name, {'attr': {'tabindex' : '1','id' : 'dashboard_name_id','class': 'form-control','placeholder': 'Dashboard name'}}) }}
            </div>   
            
        </div>
        
        <div class="box-footer pull-right">
            <a href="{{ path ("db_dashboard_list")}}"> <input class="btn btn-success" type="submit" value="{{'save' | trans }}"/> </a>
        </div>
        {{ form_end(form) }}
    </div>
    
{% endblock %}
