{% extends "::base.html.twig" %}

{% block title %}DashboardBundle:Dashboard:update{% endblock %}

{% block pageTitle %}
    <li>
        <a href="{{ path("db_dashboard_list") }}">{{'dashboards' | trans }}</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <b>{{'update' | trans }}</b>
    </li>
{% endblock %}

{% block body %}

    <div class="box box-primary">
        <div class="box-header"></div><!-- /.box-header -->
        {{ form_start(form, {'method': 'POST'}) }}
        <div class="box-body row">
            <div class="form-group">
                <label for="dashboard_name_id">{{'name' | trans }}</label>
                {{ form_widget(form.name, {'attr': {'id' : 'dashboard_name_id','class': 'form-control','placeholder': 'Dashboard Name'}}) }}
            </div>                
        </div>

        <div class="box-footer pull-right">
            <a href="{{ path ("db_dashboard_list")}}"> <input class="btn btn-success" type="submit" value="{{'save' | trans }}"/> </a>
            <a href="{{ path ("db_dashboard_list")}}"> <input class="btn btn-success" type="submit" value="{{'cancel' | trans }}"/> </a>

        </div>
        {{ form_end(form) }}
    </div>
    
{% endblock %}