{% extends "::base.html.twig" %}

{% block stylesheets %}        
    <link href="{{ asset('assets/global/plugins/datatables/datatables.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
    
{% endblock %}

{% block pageTitle %}
    <li>
        <a href="{{ path("db_dashboard_list") }}">{{'dashboard' | trans }}</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{ path("ab_user_list") }}">{{'user' | trans }}</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <b>{{'list' | trans }}</b>
    </li>
{% endblock %}


{% block body %}
    
    <div class="box-footer" style="border-bottom: 15px">
        <a class="btn btn-success" href="{{ path("ab_user_add") }}" title="{{'add' | trans }}"><i class="glyphicon glyphicon-plus" ></i></a>
    </div>
    <br/>
            
    <table class="table table-striped table-bordered table-hover table-header-fixed" id="sample_1">
        <thead>
            <tr class="table table-striped table-bordered table-hover table-header-fixed" id="sample_1">
                <th>{{'id' | trans }}</th>
                <th>{{'user_name' | trans }}</th>
                <th>{{'email' | trans }}</th>
                
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path("ab_user_see",{'id':entity.id}) }}"title="{{'View' | trans }}">{{ entity.UserName }}</a></td>
                    <td>{{ entity.Username }}</td>
                    <td>{{ entity.Email}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    
{% endblock %}

{% block plg_javascripts %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{{ asset('assets/global/scripts/datatable.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/datatables/datatables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js') }}" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
{% endblock %}

{% block script_javascripts %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{{ asset('assets/pages/scripts/table-datatables-fixedheader.min.js') }}" type="text/javascript"></script> 
    <!-- END PAGE LEVEL PLUGINS -->
{% endblock %}

