{% extends "::base.html.twig" %}

{% block title %}AdminBundle:User:see{% endblock %}


{% block pageTitle %}
    <li>
        <a href="{{ path("db_dashboard_list") }}">{{'dashboard' | trans }}</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{ path("ab_user_list") }}">{{'user' | trans }}</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <b>{{'see' | trans }}</b>
    </li>
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice_ticket_add') %}
    <div class="alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}
    <div class="box box-primary">
        <div class="box-header">
        </div><!-- /.box-header -->
        <div class="box-body">
    <div class="form-group col-md-6">
                <label for="country">{{'user_id' | trans }}</label>
                <div class="form-control">{{ entity.username }}</div>      
            </div>                 
    <div class="form-group col-md-6">
                <label for="country">{{'email' | trans }}</label>
                <div class="form-control">{{ entity.email }}</div>                    
            </div>
    <!--    <div class="form-group col-md-6">
                <label for="country">{#'Update date' | trans #}</label>
                <div class="form-control">{# entity.updateDate | date('Y-m-d H:i:s')#}</div>                    
            </div>  -->

            <div class="box-footer pull-right">
                <a href="{{ path ("ab_user_update", {'id':entity.id})}}"> <input class="btn btn-success" type="submit" value="{{'update' | trans }}"/> </a>
                <a href="{{ path ("ab_user_delete", {'id':entity.id})}}"> <input class="btn btn-success" type="submit" value="{{'delete' | trans }}"/> </a>

            </div>
        </div><!-- /.box-body -->
{% endblock %}